:root {
    --main-font: clamp(16px, calc(16px + (28 - 16) * ((100vw - 360px) / 1560)), 28px);
    --font-color: rgb(0, 0, 0);
    --background-color-main: rgb(246, 243, 248);
    --background-color-block: rgb(160, 168, 243);
    --shadow-window: rgba(46, 162, 240, 0.4) 0px 5px, rgba(46, 169, 240, 0.3) 0px 10px, rgba(46, 162, 240, 0.2) 0px 15px, rgba(46, 169, 240, 0.1) 0px 20px, rgba(46, 153, 240, 0.05) 0px 25px;
    --shadow-line: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    --drop-shadow: drop-shadow(-.1rem .1rem .05rem rgb(109, 105, 107));
    --gradient: linear-gradient(90deg, rgba(36, 36, 44, 0.651) 0%, rgba(237, 237, 240, 0.329) 35%, rgba(36, 37, 37, 0.397) 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: var(--background-color-main);
    font-size: var(--main-font);
    padding: .5rem;
    background-image: url(../assets/background.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body div#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    height: 22rem;
    width: fit-content;
    border: 1px solid var(--background-color-block);
}

