.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
}

.header {
    display: flex;
    grid-row: 1 / 2;
    color: var(--background-color-main);
    background-color: var(--background-color-block);
    border-radius: .5rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-shadow: var(--shadow-window);
    padding: .5rem;
    margin: .5rem;
    text-shadow: -.1rem .1rem .3rem rgb(133, 129, 132);
    background: var(--gradient);
}

.sections {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-row: 2 / 3;
    color: var(--background-color-main);
}

.resume {
    display: flex;
    justify-content: center;
    grid-row: 3 / 4; 
    
}

.gen {
    margin-right: 1rem;
}

