.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.header {
    display: flex;
    grid-row: 1 / 2;
    color: var(--background-color-main);
    border-radius: .5rem;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    margin: 1rem;
    text-align: center;
    text-shadow: var(--shadow-line);
}

.sections {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-row: 2 / 3;
    color: var(--background-color-main);
}

.resume {
    display: flex;
    justify-content: center;
    grid-row: 3 / 4; 
    
}

.gen{
    transition: all ease-in .3s;
    margin-right: 1rem;
}

.gen:hover {
    transform: scale(1.05);
}

.edu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transition: all ease-in .3s;
    margin-right: 1rem;
}

.edu:hover {
    transform: scale(1.05);
}

.exp {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transition: all ease-in .3s;
    margin-right: 1rem;
}

.exp:hover {
    transform: scale(1.05);
}

.adremovecont {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    align-items: center;
    border-top: 1px solid var(--background-color-block);
    border-right: 1px solid var(--background-color-block);
    border-bottom: 1px solid var(--background-color-block);
    box-shadow: var(--shadow-window);
    border-radius: 0 .5rem .5rem 0;
    background: var(--gradient);
}