.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color-block);
    box-shadow: var(--shadow-window);
    padding: .5rem;
    margin: .5rem;
    border-radius: .5rem;
    background: var(--gradient);
    color: var(--background-color-main);
}

.header {
    filter: var(--drop-shadow);
    color: var(--background-color-main);
}

.general {
    display: flex;
    flex-direction: column;
}