.container {
    display: flex;
    flex-direction: column;
    padding: .5rem;
}
.label {
    display: flex;
    color:var(--background-color-main);
    font-size: calc( var(--main-font) - 2px);
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: .2rem;
    padding-left: .2rem;
    width: 10rem;
}

.input:focus {
    border: 1px solid blue;
    box-shadow: var(--shadow-line);
}